<section #frontendSection id="content">
    <header>
        <h2>محتوای دوره فرانت‌اند</h2>
    </header>

    <main>
        <ul>
            <li>
                <technology-html class="icon"></technology-html>
                <div class="description">
                    <h3>Advanced HTML</h3>
                    <p>
                        قطعاً تمام کارآموزها با HTML تا اندازۀ خیلی خوبی آشنا هستند؛ اما متاسفانه کمتر پیش می‌آید که کسی
                        به دنبال مباحث پیشرفتۀ HTML برود و این زبان را آن‌طور که بایدوشاید یاد بگیرد.
                    </p>
                    <p>
                        در این بخش مباحثی مانند استفادۀ درست از تگ‌های معنایی، استفادۀ صحیح از عکس‌ها، پشتیبانی از
                        قالب‌های رنگی و زبان‌های متفاوت، جلوگیری از تغییر چیدمان صفحه، و بهبود دسترسی‌پذیری را به
                        کارآموزها آموزش می‌دهیم.
                    </p>
                </div>
            </li>
            <li>
                <technology-css class="icon"></technology-css>
                <div class="description">
                    <h3>Advanced CSS</h3>
                    <p>
                        یکی از ترسناک‌ترین زبان‌های دنیا CSS است و اکثر افراد به همین دلیل از آن متنفرند. این موضوع باعث
                        می‌شود اهمیت و قدرت این زبان ناشناخته باقی بماند.
                    </p>
                    <p>
                        ما در ابتدا سعی می‌کنیم برخی از ایرادات و سوءتفاهم‌های احتمالی کارآموزها را در مورد CSS مرتفع
                        کنیم و بعد به آن‌ها ویژگی‌های منحصربه‌فردی که باعث شده‌اند این زبان یکی از خاص‌ترین زبان‌های
                        دنیا شود را آموزش دهیم.
                    </p>
                </div>
            </li>
            <li>
                <technology-npm class="icon"></technology-npm>
                <div class="description">
                    <h3>npm</h3>
                    <p>
                        کمتر کسی است که با npm آشنا نباشد. این ابزار در کوچک‌ترین پروژه‌ها مانند وبسایت‌های شخصی تا
                        بزرگ‌ترین پروژه‌ها مانند پروژه‌های صنعتی، استفاده می‌شود و ما هم برای ادامۀ دوره و بالابردن سطح
                        آموزش‌ها به آن احتیاج خواهیم داشت.
                    </p>
                </div>
            </li>
            <li>
                <technology-sass class="icon"></technology-sass>
                <div class="description">
                    <h3>Sass</h3>
                    <p>
                        در پروژه‌های کوچک معمولاً کمبودی برای CSS احساس نمی‌شود و تمام نیازهای توسعه‌دهنده را برطرف
                        می‌کند؛ اما با رشد پروژه‌ها و نزدیک‌شدن به دنیای صنعت، قطعاً به یک Preprocessor مانند Sass
                        احتیاج پیدا خواهید کرد تا بتوانید سرعت و راحتی توسعه را بالاتر ببرید.
                    </p>
                    <p>
                        ما برای شروع فرض می‌کنیم کارآموزها قبلاً از Sass استفاده نکرده‌اند و این ابزار را از صفر به
                        آن‌ها آموزش می‌دهیم. سپس به سراغ ویژگی‌های کاربردی آن مانند لیست‌ها، شرط‌ها، حلقه‌ها و توابع
                        می‌رویم.
                    </p>
                </div>
            </li>
            <li>
                <technology-javascript class="icon"></technology-javascript>
                <div class="description">
                    <h3>Advanced JavaScript</h3>
                    <p>
                        ممکن است بعضاً از دیگران شنیده باشید یا حتی خودتان هم نظرتان این باشد که JavaScript زبانی
                        بی‌قاعده است و در شرایط یکسان، نسبت به زبان‌های دیگر خروجی غیرمنتظره‌ای را تولید می‌کند.
                    </p>
                    <p>
                        ما در ابتدا سعی می‌کنیم سوءتفاهم‌های احتمالی کارآموزها را برطرف کنیم و توضیح دهیم که رفتار بعضاً
                        عجیب JavaScript در کجا ریشه دارد؛ سپس به سراغ مباحث پیشرفته‌تری مانند مدیریت اطلاعات در سمت
                        کلاینت، برنامه‌نویسی ناهمگام، ارسال درخواست به APIها و مدیریت تاریخچۀ مرورگر می‌رویم.
                    </p>
                    <p>
                        همچنین در این بخش، نحوۀ درست نوشتن کد تمیز، پیداکردن کد کثیف، بازنویسی کدهای قدیمی و اصولی مانند
                        SOLID را به کارآموزها آموزش می‌دهیم.
                    </p>
                </div>
            </li>
            <li>
                <technology-ui-ux class="icon"></technology-ui-ux>
                <div class="description">
                    <h3>UI/UX</h3>
                    <p>
                        لزوماً هر توسعه‌دهنده‌ای، طراح UI/UX نیست، اما فراگیری این دانش قطعاً به تمام توسعه‌دهنده‌ها کمک
                        می‌کند تا وبسایتی طراحی کنند که هم از نظر جلوه‌های بصری و هم از لحاظ تجربۀ کاربری به اوج خود
                        برسد.
                    </p>
                    <p>
                        مباحث مربوط به این بخش را از صفر به کارآموزها آموزش می‌دهیم و سعی می‌کنیم آن‌ها را با تمام اصول
                        پایه مانند رعایت تضاد رنگی، ترازکردن المان‌ها، فضای تنفس و تایپوگرافی آشنا کنیم.
                    </p>
                </div>
            </li>
            <li>
                <technology-angular class="icon"></technology-angular>
                <div class="description">
                    <h3>Angular</h3>
                    <p>
                        خوشبختانه برای طراحی سایت، کتابخانه‌ها و Frameworkها متعددی وجود دارد که هر کس برحسب نیاز خود
                        می‌تواند یکی از آن‌ها را انتخاب کند.
                    </p>
                    <p>
                        در پروژه‌های کوچک ابزارهایی مانند Svelte و Vue بسیار راهگشا هستند چراکه یادگیری آن‌ها ساده است و
                        از حجم کمی برخوردار هستند؛ در پروژه‌های متوسط و کمی بزرگ‌تر به ابزاری مانند React احتیاج پیدا
                        می‌کنیم که بتواند مجموعه‌ای از کتابخانه‌های مختلف را در کنار هم جمع کند و در اختیار توسعه‌دهنده
                        قرار دهد؛ اما در پروژه‌های بزرگ و صنعتی، بعید است ابزاری به قدرتمندی Angular بتوان پیدا کرد.
                    </p>
                    <p>
                        Angular تنها یک کتابخانه نیست، بلکه یک Framework است که برای تمام نیازهای شما یک راه‌حل از قبل
                        تهیه کرده. با اینکه یادگیری Angular نسبت به ابزارهایی که در بالا از آن‌ها یاد کردیم سخت‌تر است،
                        اما به مرور زمان قطعاً متوجه قدرت آن خواهید شد و از وقتی که گذاشتید احساس رضایت خواهید کرد.
                    </p>
                </div>
            </li>
        </ul>
    </main>
</section>

<section #softwareSection>
    <header>
        <h2>محتوای دوره مهندسی نرم‌افزار</h2>
    </header>

    <main>
        <ul>
            <li>
                <technology-c-sharp class="icon"></technology-c-sharp>
                <div class="description">
                    <h3>C#</h3>
                    <p>
                        امروزه زبان‌های برنامه‌نویسی بسیار زیادی وجود دارند که هرکدام کاربرد خاص خود را دارند؛ در این
                        بین زبان #C به دلیل ساختار شیءگرا و امکانات متعددش گزینۀ مطلوبی برای توسعۀ نرم‌افزارهای بزرگ و
                        پیچیده است.
                    </p>
                    <p>
                        با توجه به آنکه ما در کداستار توجه ویژه‌ای به دنیای صنعت و پروژه‌های بزرگ داریم، تمام محتوای
                        کارآموزی با این زبان سازگار هستند و در مرحلۀ اول دوره، آخرین نسخۀ ارائه‌شده از این زبان را به
                        کارآموزها آموزش می‌دهیم.
                    </p>
                </div>
            </li>
            <li>
                <technology-nuget class="icon"></technology-nuget>
                <div class="description">
                    <h3>NuGet</h3>
                    <p>
                        مهندسین نرم‌افزار معمولاً به‌دنبال اختراع چرخ از اول نیستند و خیلی اوقات از کدهای آماده برای حل
                        نیازهای خود استفاده می‌کنند. NuGet یک ابزار مدیریت پکیج است که برای اضافه‌کردن کتابخانه‌های #C
                        به نرم‌افزار مورد استفاده قرار می‌گیرد.
                    </p>
                    <p>
                        در کنار استفاده از NuGet برای دسترسی به کتابخانه‌های آماده، کارآموزها یاد خواهند گرفت چگونه پکیج
                        شخصی خود را بسازند و آن را توسط NuGet منتشر کنند.
                    </p>
                </div>
            </li>
            <li>
                <technology-xunit class="icon"></technology-xunit>
                <div class="description">
                    <h3>xUnit.net</h3>
                    <p>
                        یکی از کارهایی که باعث می‌شود کیفیت کدهای نوشته‌شده افزایش پیدا کند و با خطای کمتری به دست کاربر
                        برسد، آزمودن آن‌ها است که به شکل‌های مختلفی قابل انجام است و یکی از انواع آن، Unit Testing
                        می‌باشد.
                    </p>
                    <p>
                        xUnit یک کتابخانۀ محبوب و مدرن برای نوشتن این نوع تست در زبان #C می‌باشد که ما در کداستار از آن
                        استفاده خواهیم کرد؛ همچنین به دلیل اهمیت موضوع تست‌نویسی، دربارۀ فلسفه، انواع و نحوۀ نگارش
                        تست‌ها نیز صحبت خواهیم کرد.
                    </p>
                </div>
            </li>

            <li>
                <technology-postgresql class="icon"></technology-postgresql>
                <div class="description">
                    <h3>PostgreSQL</h3>
                    <p>
                        اکثر نرم‌افزارها به محلی برای نگهداری دادها نیاز دارند که این نیاز را به‌وسیلۀ پایگاه‌های داده
                        پاسخ می‌دهند. امروزه پایگاه‌های داده، شامل انواع متعددی هستند که هر کدام کاربرد خاص خود را
                        دارند.
                    </p>
                    <p>
                        PostgreSQL یک پایگاهِ دادۀ رابطه‌ایِ رایگان و محبوب است که برای خیلی از کارهای عمومی کاربرد
                        دارد. ما در کداستار کار با این پایگاه‌داده را به کارآموزها آموزش خواهیم داد.
                    </p>
                </div>
            </li>
            <li>
                <technology-entity-framework-core class="icon"></technology-entity-framework-core>
                <div class="description">
                    <h3>Entity Framework Core</h3>
                    <p>
                        به دلیل تنوع پایگاه‌های داده و تفاوت‌هایی که در استفاده از آن‌ها وجود دارد، معمولاً
                        کتابخانه‌هایی به نام Object–Relational Mapping یا به اختصار ORM برای کار با آن‌ها توسعه داده
                        می‌شوند که پیچیدگی این فرایند را کمتر کنند.
                    </p>
                    <p>
                        Entity Framework Core یا به اختصار EF Core یکی از محبوب‌ترین ORMهای زبان #C است که ما در کداستار
                        استفاده از آن را به کارآموزها آموزش خواهیم داد.
                    </p>
                </div>
            </li>
            <li>
                <technology-asp-dotnet-core class="icon"></technology-asp-dotnet-core>
                <div class="description">
                    <h3>ASP.NET Core</h3>
                    <p>
                        با افزایش محبوبیت نرم‌افزار‌های مبتنی بر وب و گسترش کاربرد آن‌ها، Frameworkهایی برای طراحی این
                        نوع نرم‌افزارها به وجود آمدند که با تجمیع کتابخانه‌ها و امکانات مورد نیاز برای توسعه و ایجاد یک
                        چارچوب مشخص برای این کار، باعث شده‌اند این عملیات بسیار ساده شود.
                    </p>
                    <p>
                        ASP.NET Core چارچوبی است که مایکروسافت برای توسعۀ نرم‌افزارهای مبتنی بر وب به زبان #C طراحی کرده
                        است و ما در کداستار به طور مفصل در مورد آن صحبت خواهیم کرد و طی چند پروژۀ عملی سعی می‌کنیم تمام
                        مفاهیم مهم مربوط به آن را به کارآموزها آموزش دهیم.
                    </p>
                </div>
            </li>
        </ul>
    </main>
</section>
<section #DevOpsSection>
    <header>
        <h2>محتوای دوره دوآپس</h2>
    </header>
    <main>
        <ul>
            <li>
                <technology-linux class="icon"></technology-linux>
                <div class="description">
                    <h3>Linux</h3>
                    <p>
                        نرم‌افزارهای ما برای اجرا نیاز به محیطی مناسب دارند. اکثر سرورهای دنیا از سیستم‌عامل لینوکس برای
                        فراهم کردن این محیط استفاده می‌کنند و به همین خاطر شناخت این سیستم‌عامل برای یک متخصص دوآپس
                        اهمیت بالایی دارد.
                    </p>
                </div>
            </li>
            <li>
                <technology-network class="icon"></technology-network>
                <div class="description">
                    <h3>Computer Networks</h3>
                    <p>
                        نرم‌افزارهای پر استفاده معمولا از طریق اینترنت به دست کاربران می‌رسند. با توجه به تعداد بالای
                        کاربران این نرم‌افزارها و حجم زیاد داده‌ای که هر روزه بین کلاینت‌ها و سرورهای نرم‌افزارها
                        جابه‌جا می‌شود، شناخت و توانایی بهبود شبکه‌های بین آن‌ها یکی از مهارت‌های مورد نیاز یک متخصص
                        دوآپس است.
                    </p>
                </div>
            </li>
            <li>
                <technology-nginx class="icon"></technology-nginx>
                <div class="description">
                    <h3>Nginx</h3>
                    <p>
                        برای رساندن محتواهای نرم‌افزارها به کاربران، نیاز به نرم‌افزاری داریم که این کار را به صورت سریع
                        و مدیریت شده برای ما انجام دهد. نرم‌افزار Nginx یکی از ابزارهایی است که برای این کار استفاده
                        می‌شود.
                    </p>
                </div>
            </li>
            <li>
                <technology-go class="icon"></technology-go>
                <div class="description">
                    <h3>Go</h3>
                    <p>
                        توانایی ساخت و توسعه ابزارهای شخصی‌سازی شده، یکی از مهم‌ترین توانایی‌های یک متخصص دوآپس است. در
                        کداستار با زبان گو که یکی از زبان‌های پرطرفدار در جامعه دوآپس است اشنا می‌شویم و با آن ابزارهای
                        ساده می‌سازیم.
                    </p>
                </div>
            </li>
            <li>
                <technology-docker class="icon"></technology-docker>
                <div class="description">
                    <h3>Containerization</h3>
                    <p>
                        یکی از پیچیده‌ترین و پر خطاترین کارهایی که در طول مسیر تولید نرم‌افزارها انجام می‌شود، فرایند
                        بیلد و استقرار آن‌ها است. تکنولوژی‌های کانتینری‌سازی به ما اجازه می‌دهند نرم‌افزارهای خود را در
                        محیطی ایزوله و تکرارپذیر ساخته و بر روی سرورهای خود مستقر کنیم.
                    </p>
                </div>
            </li>
            <li>
                <technology-ansible class="icon"></technology-ansible>
                <div class="description">
                    <h3>Ansible</h3>
                    <p>
                        با افزایش تعداد سرورهایی که یک نرم‌افزار خاص بر روی آن‌ها اجرا می‌شود، به ابزاری نیاز پیدا
                        می‌کنیم که تغییرات پیکربندی این سرورها را اتوماتیک کند. ابزار Ansible به ما اجازه می‌دهد با
                        نوشتن دستورات در قالب کد، آن‌ها را بر روی سرورهای مختلف اجرا و مدیریت کنیم.
                    </p>
                </div>
            </li>
            <li>
                <technology-gh-actions class="icon"></technology-gh-actions>
                <div class="description">
                    <h3>CI/CD</h3>
                    <p>
                        با گذشت زمان و بزرگ‌شدن پروژه، تعداد برنامه‌نویسان و کدی که باید توسعه داده شود، بیشتر می‌شود؛
                        ازاین‌رو بهتر است ابزاری در اختیار داشته باشیم که عملیات تست‌نویسی، چک‌کردن تمیزی کد، بررسی نسخۀ
                        کتابخانه‌های مورد استفاده و پیداکردن نقاط ضعف آن‌ها را به صورت خودکار انجام دهد. به چنین کاری
                        Continuous Integration یا به اختصار CI گفته می‌شود. پس از آنکه از صحت اجرای کدهای خود مطمئن
                        شدیم، نوبت به مستقرکردن آن می‌رسد. اگر تعداد توسعه‌دهندگان یا سرعت توسعه بالا باشد، این کار
                        به‌شدت خسته‌کننده خواهد بود؛ به همین جهت از ابزاری استفاده می‌کنیم که این عملیات را برایمان ساده
                        کند. به چنین کاری Continuous Deployment یا به اختصار CD گفته می‌شود. ما در کداستار برای انجام
                        عملیات‌های مربوط به CI و CD، از GitHub Actions استفاده می‌کنیم.
                    </p>
                </div>
            </li>
            <li>
                <technology-otel class="icon"></technology-otel>
                <div class="description">
                    <h3>OpenTelemetry</h3>
                    <p>
                        عیب‌یابی نرم‌افزارها در زمان کارکرد آن‌ها و شناخت نقاط نابهینه آن‌ها برای افزایش سرعت، اهمیت
                        زیادی دارد. یکی از استانداردهایی که برای انجام ساده‌تر این کار توسعه داده شده OpenTelemetry است.
                        در کداستار یاد می‌گیریم چگونه با ابزارهای Prometheus, Grafana, ELK و Jaeger داده‌های خروجی با
                        این استاندارد را دریافت، پردازش و برای تصمیم‌گیری از آن‌ها استفاده کنیم.
                    </p>
                </div>
            </li>
        </ul>
    </main>
</section>
