<section #section>
    <div class="watermark">CodeStar</div>

    <main>
        <h1>
            <div class="line">
                <div class="text">رویارویی با چالش‌های دنیای</div>
            </div>
            <div class="line">
                <div class="text">صنعت در محیطی حرفه‌ای</div>
            </div>
        </h1>
        <p>
            هدف ما در بوت‌کمپ، معرفی و عمیق‌شدن در تکنولوژی‌ها، اصول و استانداردهای به‌روز دنیاست که برای رسیدن به این
            هدف سعی می‌کنیم از مسائل و چالش‌های واقعی صنعت استفاده کنیم و به حل آن‌ها بپردازیم.
            <br />
            بوت‌کمپ کداستار کاملا رایگان است و هدف از برگزاری آن، بالابردن مهارت‌های نرم و سخت دانشجویان ایران‌زمین
            می‌باشد.
        </p>
        <a class="button" href="https://quera.org/events/codestar-0303" target="_blank">ثبت نام</a>
    </main>

    <div class="scroll-indicator">
        <div class="arrow">↓</div>
    </div>
</section>
